[Unit]
Description=DAQ dispatching service
Requires=mongod_xebra.service

[Service]
Type=simple
Restart=always
RestartSec=3
TimeoutSec=15
User=darryl
Group=appadmin
EnvironmentFile=-/etc/default/daqspatch_env
ExecStart=/software/anaconda3/envs/strax/bin/python3 /software/straxbra/dispatcher/dispatcher.py

[Install]
WantedBy=multi-user.target
